@font-face {
    font-family: 'Grapalat Regular';
    src: url('../../assets/fonts/GHEAGrpalatReg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grapalat Cursive';
    src: url('../../assets/fonts/GHEAGrapalatRit.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Grapalat Cursive Bold';
    src: url('../../assets/fonts/GHEAGrapalatBlit.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Grapalat Bold';
    src: url('../../assets/fonts/GHEAGrapalatBlit.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    font-family: 'Grapalat Regular', sans-serif;
}
